URL=https://localhost:8443

OWNER_EMAIL=

PROVERKACHEKA_TOKEN=

PGPASSWORD=secret_password
PGHOST=database
PGPORT=5432
PGDATABASE=wasdetchan
PGUSER=postgres
PGSSLMODE=disable


GITHUB_KEY=
GITHUB_SECRET=

