package pages

templ article() {
	@base() {
		@topBar()
		<div class="flex">
			<div class="w-60 bg-base-100"></div>
			<div class="w-full bg-base-200 p-8">
				{ children... }
			</div>
			<div class="w-60 bg-base-100"></div>
		</div>
	}
}
