package pages 

css root() {
	--black: #343f44;
	--red: #e67e80;
	--green: #a7c080;
	--yellow: #dbbc7f;
	--blue: #7fbbb3;
	--magenta: #d699b6;
	--cyan: #83c092;
	--white: #859289;
	--text-color: #d3c6aa;
	--background-color: #272e33;
}

css body() {
	background-color: var(--background-color);
	color: var(--text-color);
}

templ baseStyle() {
	<style>
a:link {
	color: var(--blue);
}

a:visited {
	color: var(--magenta);
}
  </style>
}
